@import "bootstrap/bootstrap.less";
//@import "../fontawesome/font-awesome.less";
//@import "_variables.less";
//@import "_utilities.less";
//@import "_fonts.less"


//.inline {
//    display: inline;
//}

.inline-block {
    display: inline-block;
}

.contact-card {
    img {
        width: 150px;
        height: 150px;
    }
    .thumbnail:hover {
        background-color: #EEE;
        border: 1px solid #428bca;
    }
}

.contact-details {
    div.contact-image {
        vertical-align: top;
        margin-left: 30px;
    }
}