<div class="row">
    <div id="paginator-top" class="span7"></div>
    <div id="contact-search" class="span pull-right search-container"></div>
</div>
<div class="row">
    <div id="contact-list" class="span"></div>
    <div id="paginator-bottom" class="span7"></div>
</div>