<form class="navbar-search dropdown">
    <input id="searchText" type="search" class="search-query dropdown-toggle" placeholder="Search" autocomplete="off">
    <!--<ul class="dropdown-menu">
    </ul>-->
</form>
