<div class="navbar nav">
    <div class="navbar-inner">
        <a class="brand" href="#">Contacts</a>
        <ul class="nav">
            <li data-header-link="index" class="active"><a href="#">Home</a></li>
            <li data-header-link="add"><a href="#add">Add Contact</a></li>
            <li data-header-link="about"><a href="#about">About</a></li>
        </ul>
    </div>
</div>